<div class="row">
  <div class="col-md-6 col-sm-12 m-auto p-5">
    <form>
      <div class="form-group">
        <label for="exampleInputEmail1">Email or User id</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="userid"
          name="userid"
          placeholder="Enter Email or User Id"
        />
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input
          type="password"
          class="form-control"
          [(ngModel)]="password"
          name="password"
          placeholder="Enter Password"
        />
      </div>
      <button (click)="submit()" style="width: 20%;" class="btn btn-primary">
        Login
      </button>
      <a
        class="text-primary p-4"
        style="cursor: pointer; display: block;"
        (click)="registerRoute()"
        >Dont have Account? Signup here</a
      >
    </form>
  </div>
</div>
