<div class="row">
  <div class="col-md-6 col-sm-12 m-auto p-md-5 p-0">
    <div class="card">
      <div class="card-header">
        {{ name }}
      </div>
      <div class="card-body p-2" style="height: 500px; overflow: scroll;">
        <ul>
          <li *ngFor="let message of messages">
            <div
              [ngClass]="message.sender_id == sender_id ? 'sender' : 'reciever'"
              class="px-2"
            >
              <span style="font-size: 12px; display: block;" >{{
                message.sender_id != sender_id ? name : 'You'
              }}</span>
              <p>{{ message.msg }}</p>
            </div>
          </li>
        </ul>
      </div>
      <div class="card-footer">
        <div class="form-group">
          <textarea class="form-control" #msg rows="2"></textarea>
        </div>
        <span
          ><button
            class="btn btn-primary float-right"
            (click)="sendMessage(msg)"
            type="button"
          >
            Send
          </button></span
        >
      </div>
    </div>
  </div>
</div>
