<div class="row" style="margin: 1px; margin-top: 50px;">
  <div class="col-md-6 col-sm-12 m-auto p-md-5">
    <div class="card">
      <div class="card-body text-center">
        <h3 class="card-title">Chat Application</h3>
        <img
          src="https://img.icons8.com/nolan/256/telegram-app.png"
          class="img-fluid"
        />
        <span style="display: block;">
          <button
            class="btn btn-primary m-1"
            (click)="loginRoute()"
            style="width: 25%;"
            type="button"
          >
            Login
          </button>
          <button
            class="btn btn-outline-primary m-1"
            (click)="registerRoute()"
            style="width: 30%;"
            type="button"
          >
            Register
          </button>
        </span>
      </div>
    </div>
  </div>
</div>
